.form{
    @include display-flex-col-spaceBetween;
    @include padding;
    @include boxShadow;
    width: auto;

    &__label{
        color: $color-primary-dark;
    }
    &__input{
        height: 1.5rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
        box-shadow: 2.5px 2.5px 7px #0000005a;
    }
    &__input:focus{
        outline: none;
    }
    &--login{
        align-self: center;
    }
    &__desc{
        margin-bottom: 1rem;
        color: $color-primary-dark;

        &--smaller{
            font-size: 0.75rem;
        }
    }
    
}
.formDouble{
  
    @include padding;
    @include boxShadow;
    @include grid-two-col;
    width: auto;
    background-color: $color-second;
    margin: 0 auto;

    &__label{
        color: $color-primary-dark;
    }
    &__input{
        height: 1.5rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
        box-shadow: 2.5px 2.5px 7px #0000005a;
    }
    &__input:focus{
        outline: none;
    }
   
    &__desc{
        margin-bottom: 1rem;
        color: $color-primary-dark;

        &--smaller{
            font-size: 0.75rem;
        }
    }
    &__heading{
        grid-column: 1/5;
        color: $color-third;
        margin-bottom: 2rem;
    }
    
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.account, .orderHistory, .cart{
 
    color: $color-primary-dark;
    @include padding;
    @include grid;
 

    &__heading{
        grid-area: 'heading';
    }
    &__data{
        grid-area: content;
    }
    &__orders{
        grid-area: content2;
    }
   
}


.list{
    @include display-flex-col-spaceBetween;
    @include boxShadow;
    @include padding;
    list-style: none;
    background-color: $color-third;
    color: $color-primary;
   
}
.table{
    @include boxShadow;
    background-color: $color-primary;
    text-align: center;
    height: min-content;
    width: 100%;

    &__head{
        font-weight: 300;
    }
    &__col{
        background-color: $color-second;
        padding: .5rem;
    
    }
    &__headCol{
        text-align: left;
        padding: .5rem;
        font-weight: 400;
    }
    &--svg{
        opacity: 1;
        width: 1rem;
        fill: red;
        cursor: pointer;
        background-color: transparent;
    }
}

