.cart{
   @include grid;
   @include padding;
    color: $color-primary-dark;
    
    &__heading{
        grid-area: heading;
     
    }
    &__table{
        grid-area: content;
     
      
    }
    &__form{
        grid-area: content2;
        justify-self: end;
        
      
    }
}