.header{
    position: relative;
    height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(135, 152, 244, 0.52), rgba(127, 125, 125, 0.73)), url('/src/img/main/6-1920.jpg');
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    @include padding;
    
}
.nav{
    @include display-flex-row-spaceBetween;
    background-color: transparent;
    font-size: 1.5rem;
    color: $color-primary;
   
    &__list{
        &__item{
        text-decoration: none;
        color: $color-primary;
        font-weight: 400;
        margin: 0 1rem;
        transition: all .5s ease;
        }
        &__item:hover{
            color: $color-fifth;
          

        }
    }
}
.welcome{
    height: 100%;
    @include display-flex-col-center;
    text-align: center;
}

.benefits{
    background-color: $color-third;
    @include display-flex-row-center-wrap;
    padding:  2rem;

    &__box{
   
        @include display-flex-col-center;
        margin: 1rem;
    }
    &__box:nth-child(2){
        margin-bottom: 4rem;
    }
}

.benefit{
    
    &__svg{
        width: 5rem;
        height: 5rem;
        fill: $color-primary;
        justify-self: flex-start;
    }
    &__image{
        font-size: 2.5rem;
    }
    &__heading{
        margin: 1rem 0 .25rem;
        font-weight: 500;
        height: auto;
    }
    &__desc{
        text-align: center;
    }
}


.aboutUs{
    background-color: $color-primary;
    color: $color-primary-dark;
    @include display-flex-col;
    padding: 2rem;
  
  
    &__box{
        @include display-flex-row-center-wrap;
        gap: 0 1rem;
        height: 20rem;
        margin: 2rem 0;
     
        &__desc{
          @include display-flex-col-center;
            text-align: center;
            height: 100%;
            width: 40%;
            border: 3px solid $color-primary-dark;
            padding: 2rem;
            transform: translateX(1rem);

        }
        &__img{
        height: 100%;
        width: 40%;
        transform: translate(-1rem,1rem);
        border: 3px solid $color-primary-dark;
        box-shadow: 5px 5px 5px #b0a7a7fc;
     
       
        }
    }
}

@media screen and (max-width:850px){
    
    .aboutUs{
        &__box{
        
            @include display-flex-col-center;
            height: auto;
            position: relative;
    
            &__desc{
                width: 100%;
                height: 100%;
                background-color:#1f363db0;
                color: $color-primary;
                z-index: 1;
                transform: translate(-1rem);
                line-height: 1.5rem;
                font-size: .75rem;
            }
            &__img{
                position: absolute;
                top: 0;
                left:0;
                z-index: 0;
                width: 100%;
                object-fit: cover;
                transform: translate(-1rem);
            }
        }
    }
}

.opinionsSection{
    color: $color-primary-dark;
    background-color: $color-second;
    padding: 2rem;
    &__header{

        display: flex;
        align-items: center;
        
     

        &__img{
            width: 10rem;
            height: 10rem;
            border-radius:100%;
            
        }
    }
}

.svg__start{
    width: 1rem;
    height: 1rem;
   }
.opinionsSection{
    
    &__heading{
        margin: 1.5rem;
    }
    &__line{
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-third-dark;
    }
    &__header{
        display: flex;
        gap: 2rem;
   
        &__tittle{
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }
    }
    &__opinions{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        &__article{
           @include display-flex-col-start;
        
            gap: 1rem;
            padding: 1.5rem;

         
            &__rating{
              @include display-flex-row;
              align-self: flex-start;
            }
            &__svg{
                width: 1.5rem;
                
            }
        }

       
    }
}
@media screen and (max-width:800px) {
    
.opinionsSection{
    &__header{
        @include flexSmall;
    }
    &__opinions{
       @include grid-2;
    }
}
}

@media screen and (max-width:680px) {
    
.opinionsSection{
    &__header{
        @include flexSmall;
    }
    &__opinions{
        @include flexSmall;
    }
}
}
.login{

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/4;
    }
    &__label{
        color: $color-primary-dark;
    }
    &__input{
        
        margin-bottom: 1rem;
        height: 1.5rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
        box-shadow: 2.5px 2.5px 7px #0000005a;
    }
    &__input:focus{
        outline: none;
    }
    &__btn{
        outline: none;
        border: none;
        box-shadow: 2.5px 2.5px 7px #0000005a;
        font-size: 0.75rem;
    }
    &__paragraph{
        margin-bottom: 1rem;
        color: $color-primary-dark;
        text-align: center;
        width: 100%;
    }
}

.footer{
    @include display-flex-row-spaceBetween;
    @include padding;
    

    background-color: $color-primary-dark;
    font-weight: 200;
    font-size: 0.75rem;

    &__nav{
        @include  display-flex-col;
    }
    &__heading{
        font-weight: 500;
        margin-bottom: .5rem;
    }

    &__img{
        width: 15rem;
       
    }
}

@media screen and (max-width: 840px){
   .footer{
    @include grid-2;
   
   }  
  
}