.headerShop{
    background-color: $color-second;

    &__promotion{
        background-color: $color-third;
        text-align: center;
        padding: .25rem 0;
    }
  
}
.navShop{
    color: $color-primary-dark;
    @include display-flex-row-center;
    padding: 0 2rem;
    height: min-content;
    box-shadow: 2.5px 2.5px 7px #a29d9d5a;

    

    &__logo{
        color:  #23962e;
        text-decoration: underline;
        font-size: 1.5rem;

    }
    &__list{
        width: auto;
        @include display-flex-row-center;
   
        
    
        &__item{
            margin:0 .5rem;
            cursor: pointer;
       
        }
        &__item--active{
            color: $color-third;
        }
    }
    &__svgBox{
        margin-left: 2rem;
        @include display-flex-row-center;
        gap: 1rem; 
    }
}

@media screen and (max-width: 800px) {
    .navShop{
        width: 100vw;
        
        @include flexSmall;
    
    }
  
    
}
@media screen and (max-width: 600px) {
    .navShop__listBox{
       
        
        @include flexSmall;
    
    }

    .footer__img{
        width: 100%;
    }
    .search{
      
        justify-content: center;
       
    }
   
    
}
.search{
    width: 100%;
    grid-column: 1/8;
    @include display-flex-row;
    height: min-content;
    align-items: center;
   
    &__p{
    color: $color-primary-dark;
    }

    &__input{
    
    width: 15rem;
    animation: searchBarOpen;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;  
    }
}


@keyframes searchBarOpen {

    0%{
    
        width: 1rem;
    }
  
    100%{
     
        width: 15rem;
    }
    
}
.navShop__svg{
    margin: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    &--logout{
        display: none;
    }
}

.products{
    width: 100%;
    padding: 2rem;
     @include grid-3;
     @include grid3To1;
    
}
@media screen and (max-width: 700px) {
    .products{
        @include flexSmall;
    }
    
}
.productBox{
    padding: 1rem;
    @include boxShadow;
    @include display-flex-col-center;


    color: $color-primary-dark;

    &__img{
       height: 10rem;
       width: 100%;
        object-fit: cover;    
    }
   &__info{
    margin-top: .5rem;
    height: 100%;
    @include display-flex-col-spaceAround;


    
        &__heading{
            font-weight: 400;
            font-size: 1.2rem;
    
        }
        &__buy{
            margin-top: 1.5rem;
            height: 1.5rem;
            @include display-flex-row-spaceBetween;
        }
    }
}
.productPage{
    grid-column: 1/4;
    gap: 1rem;
    height: min-content;
    color: $color-primary-dark;

    @include display-flex-row;
    @include padding;
    @include boxShadow;

    &__info{
     @include display-flex-col-spaceBetween;
     width: 100%;
   
        
     &__buy{
            height: min-content;
            @include display-flex-row-center;
            justify-content: flex-start;
        }
        &__buy > * {
            margin: 0 1rem;
        }
    }
    &__img{
        width:20rem;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width:800px){
    .productPage{
        @include flexSmall;
    }
    
}

.register{
    @include fixed;
    z-index: 10;
    @include display-flex-col-center;
}


.main{
    @include padding;
    @include display-flex-col-start;
    min-height: 100vh;
}

.account, .orderHistory, .cart{
 
    color: $color-primary-dark;
    @include padding;
    @include grid;
    @include flexSmall;

    &__heading{
        grid-area: 'heading';
    }
    &__data{
        grid-area: content;
    }
    &__orders{
        grid-area: content2;
    }

}

.cart__img{
    width: 100%;
    height: 4rem;
    object-fit: cover;
    align-self: stretch;
}

.mainProducts{
    @include padding;
    @include display-flex-col;

    &__heading{
        color: $color-primary-dark;
       padding: 2rem 0;
    }
   
}

.theBestProducts, .newProducts{
    @include display-flex-row-spaceBetween;
    gap: 1rem;


}
@media screen and (max-width: 1400px) {
   .mainProducts__heading{
    text-align: center;
   }
    .theBestProducts, .newProducts{
      @include grid-3;
    }
}
@media screen and (max-width: 1000px) {
   
    .theBestProducts, .newProducts{
      @include grid-2;
      grid-template-rows: auto;
    }
}
@media screen and (max-width: 700px) {
   
    .theBestProducts, .newProducts{
      @include flexSmall;
      grid-template-rows: auto;
    }
}

.mainProductBox{
    color: $color-primary-dark;
    @include boxShadow;
    @include display-flex-col-center;
    text-align: center;
    width: 14rem;
    height: 14rem;
    background-color: transparent;

    &__desc{

        background-color: transparent;
    }
    &__img{
        width: 100%;
        height:100%;
    }

    &__info__buy__price{
        margin-bottom: 1rem;
    }
}