@mixin display-flex-center{

}
@mixin display-flex-row-spaceBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@mixin display-flex-col-spaceBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
@mixin display-flex-col{
    display: flex;
    flex-direction: column;
}

@mixin padding{
    padding: 2rem;
}

@mixin boxShadow{
    box-shadow: 2.5px 2.5px 7px #0000005a;
    border-radius: 2.5px;
}

@mixin grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'heading . .'
    'content content2 content2';
    justify-content: stretch; 
    grid-gap: 1rem;
}