@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500&display=swap');


$color-primary: #F4F0F0;
$color-second: #FFFFFF;
$color-third: #5CF16B;
$color-fourth: #E1F02D;

$color-primary-dark: #0A210F;
$color-second-dark: #000000;
$color-third-dark: #372527;

$font-main: 'Jost', sans-serif;
$font-heading: 'Jost', sans-serif;
$font-logo: 'Advent Pro', sans-serif;
