@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500&display=swap');


$color-primary: #F1F1F1;
$color-second: #FFFFFF;
$color-third: #40798C;
$color-fourth: #70A9A1;
$color-fifth: #FFE880;

$color-primary-dark: #1F363D;
$color-second-dark: #000000;
$color-third-dark: #372527;

$font-main: 'Jost', sans-serif;
$font-heading: 'Jost', sans-serif;
$font-logo: 'Advent Pro', sans-serif;
