@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 840px) {
  body {
    font-size: 16px;
  }
}
html {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #F1F1F1;
}

.heading {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0;
}

.btn:hover {
  background-color: #40798C;
}

.btn {
  background-color: #70A9A1;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  border-radius: 2.5px;
  transition: all 0.25s ease-in;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  align-self: center;
  margin: 2rem 0;
}
.btn--submit {
  border: none;
}
.btn--back {
  align-self: flex-start;
}
.btn--back:hover {
  background-color: #1F363D;
}

.link {
  text-decoration: none;
  color: #F1F1F1;
}
.link--register {
  color: #70A9A1;
  font-weight: 500;
  transition: all 0.5 ease;
}
.link--register:hover {
  font-size: 1rem;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(135, 152, 244, 0.52), rgba(127, 125, 125, 0.73)), url("/src/img/main/6-1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 2rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  font-size: 1.5rem;
  color: #F1F1F1;
}
.nav__list__item {
  text-decoration: none;
  color: #F1F1F1;
  font-weight: 400;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.nav__list__item:hover {
  color: #FFE880;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.benefits {
  background-color: #40798C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}
.benefits__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.benefits__box:nth-child(2) {
  margin-bottom: 4rem;
}

.benefit__svg {
  width: 5rem;
  height: 5rem;
  fill: #F1F1F1;
  justify-self: flex-start;
}
.benefit__image {
  font-size: 2.5rem;
}
.benefit__heading {
  margin: 1rem 0 0.25rem;
  font-weight: 500;
  height: auto;
}
.benefit__desc {
  text-align: center;
}

.aboutUs {
  background-color: #F1F1F1;
  color: #1F363D;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.aboutUs__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1rem;
  height: 20rem;
  margin: 2rem 0;
}
.aboutUs__box__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 40%;
  border: 3px solid #1F363D;
  padding: 2rem;
  transform: translateX(1rem);
}
.aboutUs__box__img {
  height: 100%;
  width: 40%;
  transform: translate(-1rem, 1rem);
  border: 3px solid #1F363D;
  box-shadow: 5px 5px 5px rgba(176, 167, 167, 0.9882352941);
}

@media screen and (max-width: 850px) {
  .aboutUs__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    position: relative;
  }
  .aboutUs__box__desc {
    width: 100%;
    height: 100%;
    background-color: rgba(31, 54, 61, 0.6901960784);
    color: #F1F1F1;
    z-index: 1;
    transform: translate(-1rem);
    line-height: 1.5rem;
    font-size: 0.75rem;
  }
  .aboutUs__box__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    transform: translate(-1rem);
  }
}
.opinionsSection {
  color: #1F363D;
  background-color: #FFFFFF;
  padding: 2rem;
}
.opinionsSection__header {
  display: flex;
  align-items: center;
}
.opinionsSection__header__img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.svg__start {
  width: 1rem;
  height: 1rem;
}

.opinionsSection__heading {
  margin: 1.5rem;
}
.opinionsSection__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #372527;
}
.opinionsSection__header {
  display: flex;
  gap: 2rem;
}
.opinionsSection__header__tittle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.opinionsSection__opinions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.opinionsSection__opinions__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.5rem;
}
.opinionsSection__opinions__article__rating {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.opinionsSection__opinions__article__svg {
  width: 1.5rem;
}

@media screen and (max-width: 800px) {
  .opinionsSection__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .opinionsSection__opinions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (max-width: 680px) {
  .opinionsSection__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .opinionsSection__opinions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;
}
.login__label {
  color: #1F363D;
}
.login__input {
  margin-bottom: 1rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
}
.login__input:focus {
  outline: none;
}
.login__btn {
  outline: none;
  border: none;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  font-size: 0.75rem;
}
.login__paragraph {
  margin-bottom: 1rem;
  color: #1F363D;
  text-align: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background-color: #1F363D;
  font-weight: 200;
  font-size: 0.75rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__heading {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.footer__img {
  width: 15rem;
}

@media screen and (max-width: 840px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.headerShop {
  background-color: #FFFFFF;
}
.headerShop__promotion {
  background-color: #40798C;
  text-align: center;
  padding: 0.25rem 0;
}

.navShop {
  color: #1F363D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: min-content;
  box-shadow: 2.5px 2.5px 7px rgba(162, 157, 157, 0.3529411765);
}
.navShop__logo {
  color: #FFE880;
  text-decoration: underline;
  font-size: 1.75rem;
  font-weight: 400;
  background: -webkit-linear-gradient(#FFE880, #40798C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navShop__list {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navShop__list__item {
  margin: 0 0.5rem;
  cursor: pointer;
}
.navShop__list__item--active {
  color: #40798C;
}
.navShop__svgBox {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .navShop {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .navShop__listBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__img {
    width: 100%;
  }
  .search {
    justify-content: center;
  }
}
.search {
  width: 100%;
  grid-column: 1/8;
  display: flex;
  flex-direction: row;
  height: min-content;
  align-items: center;
}
.search__p {
  color: #1F363D;
}
.search__input {
  width: 15rem;
  animation: searchBarOpen;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

@keyframes searchBarOpen {
  0% {
    width: 1rem;
  }
  100% {
    width: 15rem;
  }
}
.navShop__svg {
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.navShop__svg--logout {
  display: none;
}

.products {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25rem;
  gap: 2rem;
}
@media screen and (max-width: 840px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.productBox {
  padding: 1rem;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1F363D;
}
.productBox__img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}
.productBox__info {
  margin-top: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productBox__info__heading {
  font-weight: 400;
  font-size: 1.2rem;
}
.productBox__info__buy {
  margin-top: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productPage {
  grid-column: 1/4;
  gap: 1rem;
  height: min-content;
  color: #1F363D;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
}
.productPage__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}
.productPage__info__buy {
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
}
.productPage__info__buy > * {
  margin: 0 1rem;
}
.productPage__img {
  width: 20rem;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.register {
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 237, 237, 0.8274509804);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.account, .orderHistory, .cart {
  color: #1F363D;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "heading . ." "content content2 content2";
  justify-content: stretch;
  align-items: flex-start;
  grid-gap: 1rem;
}
.account__heading, .orderHistory__heading, .cart__heading {
  grid-area: "heading";
}
.account__data, .orderHistory__data, .cart__data {
  grid-area: content;
}
.account__orders, .orderHistory__orders, .cart__orders {
  grid-area: content2;
}

@media screen and (max-width: 700px) {
  .account, .orderHistory, .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cart__img {
  width: 100%;
  height: 4rem;
  object-fit: cover;
  align-self: stretch;
}

.mainProducts {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.mainProducts__heading {
  color: #1F363D;
  padding: 2rem 0;
}

.theBestProducts, .newProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (max-width: 1400px) {
  .mainProducts__heading {
    text-align: center;
  }
  .theBestProducts, .newProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .theBestProducts, .newProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 700px) {
  .theBestProducts, .newProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-rows: auto;
  }
}
.mainProductBox {
  color: #1F363D;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 14rem;
  height: 14rem;
  background-color: transparent;
}
.mainProductBox__desc {
  background-color: transparent;
}
.mainProductBox__img {
  width: 100%;
  height: 100%;
}
.mainProductBox__info__buy__price {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 2rem;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
  width: auto;
}
.form__label {
  color: #1F363D;
}
.form__input {
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
}
.form__input:focus {
  outline: none;
}
.form--login {
  align-self: center;
}
.form__desc {
  margin-bottom: 1rem;
  color: #1F363D;
}
.form__desc--smaller {
  font-size: 0.75rem;
}

.formDouble {
  padding: 2rem;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem 2rem;
  width: auto;
  background-color: #FFFFFF;
  margin: 0 auto;
}
.formDouble__label {
  color: #1F363D;
}
.formDouble__input {
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
}
.formDouble__input:focus {
  outline: none;
}
.formDouble__desc {
  margin-bottom: 1rem;
  color: #1F363D;
}
.formDouble__desc--smaller {
  font-size: 0.75rem;
}
.formDouble__heading {
  grid-column: 1/4;
  color: #40798C;
  margin-bottom: 2rem;
}
.formDouble__close {
  grid-column: 4/5;
  text-align: right;
  color: #1F363D;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
  padding: 2rem;
  list-style: none;
  background-color: #40798C;
  color: #F1F1F1;
}

.table {
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
  background-color: #F1F1F1;
  text-align: center;
  height: min-content;
  width: 100%;
}
.table__row:hover .table--svg {
  opacity: 1;
}
.table__head {
  font-weight: 300;
}
.table__col {
  background-color: #FFFFFF;
  padding: 0.5rem;
}
.table__headCol {
  text-align: left;
  padding: 0.5rem;
  font-weight: 400;
}
.table--svg {
  opacity: 0;
  width: 1rem;
  fill: red;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.25s ease;
}
.table__totalPrice {
  text-align: right;
}

.delPermission {
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 237, 237, 0.8274509804);
  position: fixed;
  top: 0;
  left: 0;
}
.delPermission__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delPermission__title {
  margin-bottom: 1rem;
}

.announcement {
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 999;
  background-color: #F1F1F1;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.5s ease-in;
  animation: announcementAimation;
  animation-duration: 8000ms;
}
.announcement--error {
  background-color: #1F363D;
}
.announcement--good {
  background-color: #70A9A1;
}

.announcement:hover {
  transform: translate(-50%, 0%);
}

@keyframes announcementAimation {
  0% {
    transform: translate(-50%, -70%);
  }
  25% {
    transform: translate(-50%, 0%);
  }
  75% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}
.opinions {
  width: 100%;
}

.opinion {
  color: #1F363D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  border-radius: 2.5px;
}
.opinion__headingBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.opinion__headingBox__heading {
  font-weight: 400;
  font-size: 1.15rem;
  color: #40798C;
}
.opinion__headingBox__date {
  font-style: italic;
  color: #40798C;
  font-size: 1.15rem;
}
.opinion__rating {
  display: flex;
  margin: 0.5rem 0;
}

.opinion:hover {
  background-color: #F1F1F1;
}

.addOpinion__heading {
  margin-bottom: 1rem;
}
.addOpinion__form {
  overflow: hidden;
  transition: height 1s;
  height: auto;
}
.addOpinion__star {
  transition: fill 0.25s ease;
  fill: #FFE880;
  cursor: pointer;
}

#star:hover {
  fill: red;
}

@keyframes formAddOpinion {
  from {
    height: 0;
    opacity: 0;
    animation: formAddOpinion 1s linear;
  }
  to {
    height: auto;
    opacity: 1;
  }
}
.displayNone {
  display: none;
}

/*# sourceMappingURL=main.css.map */
