@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.heading {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0;
}

.btn {
  background-color: #E1F02D;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  border-radius: 2.5px;
  transition: all 0.25s ease-in;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  align-self: center;
  margin: 2rem 0;
}
.btn--smaller {
  padding: 0.15rem 0.75rem;
}

.btn:hover {
  background-color: #5CF16B;
}

.header {
  height: 100vh;
  min-height: 100vh;
  background-image: url("/src/img/main/6-1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.nav__list__item {
  text-decoration: none;
  color: #F4F0F0;
  margin: 0 1rem;
}
.nav__list__item--active {
  font-weight: 400;
}
.nav__list__item:hover {
  color: green;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.benefits {
  background-color: #372527;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}
.benefits__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
}
.benefits__box:nth-child(2) {
  margin-bottom: 4rem;
}

.benefit__svg {
  width: 5rem;
  height: 5rem;
  fill: #F4F0F0;
  justify-self: flex-start;
}
.benefit__image {
  font-size: 2.5rem;
}
.benefit__heading {
  margin: 1rem 0 0.25rem;
  font-weight: 500;
  height: auto;
}
.benefit__desc {
  text-align: center;
}

.aboutUs {
  background-color: #F4F0F0;
  color: #0A210F;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.aboutUs__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  height: 20rem;
  margin: 2rem 0;
}
.aboutUs__box__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 40%;
  border: 3px solid #0A210F;
  padding: 2rem;
  transform: translateX(1rem);
}
.aboutUs__box__img {
  height: 100%;
  width: 40%;
  transform: translate(-1rem, 1rem);
  border: 3px solid #0A210F;
  box-shadow: 5px 5px 5px rgba(176, 167, 167, 0.9882352941);
  display: flex;
  flex-direction: column;
}

.opinionsSection {
  color: #0A210F;
  background-color: #FFFFFF;
  padding: 2rem;
}
.opinionsSection__header {
  display: flex;
  align-items: center;
}
.opinionsSection__header__img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.svg__start {
  width: 1rem;
  height: 1rem;
}

.opinionsSection__heading {
  margin: 1.5rem;
}
.opinionsSection__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #372527;
}
.opinionsSection__header {
  display: flex;
  gap: 2rem;
}
.opinionsSection__header__tittle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.opinionsSection__opinions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.opinionsSection__opinions__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
}
.opinionsSection__opinions__article__rating {
  display: flex;
  flex-direction: row;
}
.opinionsSection__opinions__article__svg {
  width: 1.5rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;
}
.login__label {
  color: #0A210F;
}
.login__input {
  margin-bottom: 1rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
}
.login__input:focus {
  outline: none;
}
.login__btn {
  outline: none;
  border: none;
  box-shadow: 2.5px 2.5px 7px rgba(0, 0, 0, 0.3529411765);
  font-size: 0.75rem;
}
.login__paragraph {
  margin-bottom: 1rem;
  color: #0A210F;
  text-align: center;
  width: 100%;
}

.cart {
  padding: 3rem;
  color: #0A210F;
}
.cart__table {
  background-color: #F4F0F0;
  text-align: center;
  height: min-content;
}
.cart__table__head {
  font-weight: 300;
}
.cart__table__body__svg {
  opacity: 1;
  width: 1rem;
  fill: red;
  cursor: pointer;
}
.cart__table__col {
  background-color: #FFFFFF;
  padding: 0.5rem;
}
.cart__table__col--svg {
  background-color: transparent;
}
.cart__table__headCol {
  text-align: left;
  padding: 0.5rem;
  font-weight: 400;
}

.headerShop {
  background-color: #FFFFFF;
}
.headerShop__promotion {
  background-color: #5CF16B;
  text-align: center;
  padding: 0.25rem 0;
}

.navShop {
  color: #0A210F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: min-content;
  box-shadow: 2.5px 2.5px 7px rgba(162, 157, 157, 0.3529411765);
}
.navShop__logo {
  color: #23962e;
  text-decoration: underline;
  font-size: 1.5rem;
}
.navShop__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navShop__list__item {
  margin: 0 0.5rem;
  cursor: pointer;
}
.navShop__list__item--active {
  color: #5CF16B;
}
.navShop__svgBox {
  margin-left: 2rem;
}

.navShop__svg {
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.products {
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 22rem;
  justify-content: center;
  grid-gap: 1rem;
}

.productBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  color: #0A210F;
  padding: 0.5rem;
}
.productBox__img {
  width: 15rem;
  object-fit: fill;
}
.productBox__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productBox__info__desc__heading {
  font-weight: 400;
  margin: 0.5rem 0;
}
.productBox__info__desc__desc {
  font-size: 0.75rem;
}
.productBox__info__buy {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productBox:nth-child(3n+2) {
  padding: 0.5rem 1.5rem;
  border-left: 1px solid rgba(179, 172, 172, 0.311);
  border-right: 1px solid rgba(179, 172, 172, 0.311);
}

/*# sourceMappingURL=main.css.map */
